<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">
]>

<beans>
	<!-- user -->
	<bean id="userDao" class="com.ms.rbac.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userServiceImpl" class="com.ms.rbac.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="userService" parent="transactionBese">
		<property name="target" ref="userServiceImpl"></property>
	</bean>
	<!-- group -->
	<bean id="groupDao" class="com.ms.rbac.dao.impl.GroupDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="groupServiceImpl" class="com.ms.rbac.service.impl.GroupServiceImpl">
		<property name="groupDao" ref="groupDao"></property>
	</bean>
	
	<bean id="groupService" parent="transactionBese">
		<property name="target" ref="groupServiceImpl"></property>
	</bean>
	
</beans>
